.wide-container {
    width: 1180px;
}

@media (max-width: 1420px) {
    .wide-container {
        width: 1080px;
    }
}

@media (max-width: 1280px) {
    .wide-container {
        width: 980px;
    }
}

@media (max-width: 1080px) {
    .wide-container {
        width: 880px;
    }
}

@media (max-width: 960px) {
    .wide-container {
        width: auto;
        padding-inline: 40px;
    }
}

@media (max-width: 768px) {
    .wide-container {
        padding-inline: 20px;
    }
}

.container {
    width: 900px;
}

@media (max-width: 1280px) {
    .container {
        width: 800px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 960px) {
    .container {
        width: auto;
        padding-inline: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-inline: 20px;
    }
}
